<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Answer Digital Website Test Automation Suite" >
	<test name="Answer digital website Test Cases">
		<classes>
			<class name="com.answerdigital.qa.testcases.HomePageTest"></class>
			<class name="com.answerdigital.qa.testcases.SearchJobPageTest"></class>
			
		</classes>
	</test>
</suite>